input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 0 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  height: 18px;
  width: 18px;
  margin-top: -4px;
  pointer-events: all;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #d9a767;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #d9a767;
  border: 2px solid #fff;
}

input[type="range"]:hover::-moz-range-thumb {
  background: #d9a767;
  border: 2px solid #fff;
}

input[type="range"]:hover::-ms-thumb {
  background: #d9a767;
  border: 2px solid #fff;
}
